tsconfig.json
tslint.json
src/
__test__/
jest.config.json
typings.d.ts
examples/
tests/
*.log
.docker-manifestrc
.editorconfig
.gitlab-ci.yml
.nvmrc
.prettierrc
.travis.yml
release.config.json
.lintstagedrc
.huskyrc
*/.bin
